<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Select an Option</h1>
    
    <ul>
        <li><a href="/pokemon">Add a Pokémon</a></li>
        <li><a href="/trainers">Add a Trainer</a></li>
    </ul>
</body>
</html>