<header>
    <a href="/">PokéVault ⚡</a>
    <p>Gotta Stock 'Em All!</p>
    <nav>
        <a href="/">Home</a>
        <a href="/pokemon">Pokémons</a>
        <a href="/trainers">Trainers</a>
    </nav>
    <hr>
</header>
